{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Favorite Images</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">Visual World</a>
        <div class="nav-links">
            <a href="{% url 'home' %}?q={{ last_query|default:'' }}">Home</a>
            <a href="/favorites/" class="favorites-link">Favorites</a>
        </div>
    </header>

    <main class="main-content">
        <h2>My Favorite Images</h2>
        
        <div class="image-grid">
            {% for fav in favorites %}
                <div class="image-card">
                    <img src="{{ fav.image_url }}" alt="{{ fav.alt_text }}">
                    <div class="image-actions">
                        <p>{{ fav.alt_text|truncatechars:30 }}</p>
                        <form method="post" action="/delete_favorite/{{ fav.pk }}/">
                            {% csrf_token %}
                            <button type="submit" class="remove-btn">Remove</button>
                        </form>
                    </div>
                </div>
            {% empty %}
                <div class="empty-state">
                    <p>No favorites added yet.</p>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer class="footer">
        <p>© {% now "Y" %} Visual World   by Rabia Maqsood</p>
    </footer>
</body>
</html>

